.thank-you-page {
  background: linear-gradient(135deg, #1e29f2, #c3c6ff);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .home-link {
    text-decoration: none;
    margin-top: 20px;
  }
  
  button {
    font-weight: bold;
  }
}

.thank-you-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

